{% extends 'SmartPsyBundle:FrantOffice:Template.html.twig' %}


    {% block titre %}TestAffecter creation{% endblock %}

{% block contenu -%}


    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('testaffecter') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
